.cajaarriba {
    display: flex;
}

.c1, .c2, .c3, .c5
{
    background-color: rgb(235, 148, 34);
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.c4 {
    background-color: rgb(25, 106, 9);
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.cajagris {
    background-color: rgb(187, 187, 187);
    width: 340px;
    padding: 20px;
    text-align: center;
}

.caja1 {
    background-color: #ffffff;
    width: 296px;
    border-radius: 3px;
    padding: 15px;
    text-align: left;
    border-left: 5px solid rgb(44, 120, 226);
}

.caja2 {
    background-color: #ffffff;
    width: 300px;
    border-radius: 3px;
    padding: 15px;
    text-align: left;
}

.cajaboton {
    background-color: #ffffff;
    width: 300px;
    border-radius: 3px;
    padding: 15px;
    text-align: right;
}

.b {
    background-color: rgb(44, 120, 226);
    padding: 5px;
    border-radius: 3px;
    color: #ffffff;
}
