.caja1 {
    display: flex;
}

.c1, .c2, .c3, .c5
{
    background-color: rgb(235, 148, 34);
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.c4 {
    background-color: rgb(25, 106, 9);
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.cp {
    background-color: rgb(187, 187, 187);
    width: 350px;
    text-align: center;
}